<section class="header row">
  <div class="col-xs-12 col-lg-6 offset-lg-3 text-center">
    <h1>Nuevo desafío</h1>
    <p>Completa los siguientes datos relacionados al desafío</p>
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-lg-6 offset-lg-3 text-center">
    <%= render('form') %>
  </div>
</section>