<section class="header row">
<div class="col-xs-12 col-lg-6 offset-lg-3 text-center">
  <h1>Biblioteca de Desafíos</h1>
  <p>En la biblioteca de desafíos podrás ver todos los desafíos disponibles a desarrollar. Configura un nuevo desafío y actívalo para comenzar a trabajar.</p>
</div>
</section>

<section class="challenge challenge-library">
  <h5 class="challenge-title"><i class="fa fa-grip-horizontal"></i> Biblioteca de desafíos</h5>
  <div class="row">
    <% @challenges.where(is_published: true).each do |challenge| %>
      <div class="col-xs-12 col-lg-6 col-xl-4">
      <%= link_to challenge_intro_intro_path(challenge) do %>
          <div class="card">
            <div class="card-body">
              <h5><%= challenge.title %></h5>
              <p class="description"><%= challenge.description %></p>
              <button class="btn btn-primary">Entrar al desafío</button>
              </div>
          </div>
        <% end %> 
      </div>
    <% end %>
  </div>
</section>


<br>
<section class="tutorial">
  <%=link_to  'Ver tutorial sobre Blocky.', wizzar_blockly_tutorial_path, :class => 'btn btn-primary' %>
</section>
