<section>
  <section>
    <div class="row">
      <section class="col-xs-12 col-md-4 col-lg-3">
        <h2>Unidad final</h2>
        <div class="embed-responsive embed-responsive-16by9">
        </div>
        <h4>Contenido de la unidad</h4>
        <% @challenge_has_units.where(unit_id:6).each do |challenge_has_unit|%>
          <%= challenge_has_unit.content %>
        <% end %>
        <div class="actions">
        	<%= link_to 'Finalizar', dashboard_index_path(@challenge), :class => 'btn btn-danger btn-block' %>
        </div>
      </section>
      
      <section class="col-xs-12 col-md-8 col-lg-9">
        <div class="text-center">
        </div>
      </section>
    </div>
  </section>
</section>